<div class="wrapper">
  <div class="container">
    <h2>Welcome!</h2>
    <h3>Fill in your details to create your account.</h3>
    <form [formGroup]="signUpForm" method="POST">
      <input
        type="text"
        formControlName="username"
        placeholder="New Username"
      />
      <div class="group">
        <input
          type="text"
          formControlName="firstname"
          placeholder="First Name"
        />
        <input
          type="text"
          formControlName="lastname"
          class="right"
          placeholder="Last Name"
        />
      </div>
      <input
        type="text"
        formControlName="middlename"
        placeholder="Middle Name"
      />
      <input type="email" formControlName="email" placeholder="Email" />
      <div class="group">
        <input
          type="text"
          formControlName="department"
          placeholder="Department"
        />
        <input
          type="text"
          formControlName="faculty"
          class="right"
          placeholder="Faculty"
        />
      </div>
      <div class="group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <input
          type="password"
          formControlName="confirmPassword"
          class="right"
          placeholder="Confirm Password"
        />
      </div>

      <button
        mat-flat-button
        [disabled]="signUpForm.invalid"
        (click)="setStorage()"
        color="primary"
      >
        Sign Up
      </button>
      <button class="signin" routerLink="/">
        Already have an account? Sign In
      </button>
    </form>

    <!-- <div>{{ message }}</div> -->
  </div>
</div>
