@import './../../../variable.scss';

mat-sidenav-container{
  height: 100vh;
}

mat-sidenav{

  width: 180px;
  // height: 100vh;
  background-color: white;
  // box-shadow: 1px 1px 5px gray;
  display: flex;

  .title{
    font-size: 12px; color: $primary-color; margin: 17px 31px; font-weight: 600
  }

  .left{
    width: 20px;
      background-color: $primary-color;
      height: 100vh;
  }

  .level-buttons{
    display: flex;
    color: $primary-color;
    flex-direction: column;
    margin-top: 30px;

    .level-buttons button{
    font-size: 8px;
    }
    .section{
      border-bottom: 1px solid $primary-color;
      margin: 10px 30px;
    }
    .activeLink{
      background-color: $primary-color;
      color: white;
      padding: 5px 35px;
      padding-left: 20px;
      transition: all 0.4s;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      margin-left: 15px;
      // box-sizing: border-box;
      .icon{
        color: white;
      }
    }
  }


}

.menu-link{
  margin-left: 15px;
  font-size: 12px;
  padding: 5px 35px;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.1s;
}

.menu-link:hover{
  background-color: rgb(210, 232, 252);
  position: relative;
  bottom: 3px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;


}

.icon{
  font-size: 17px;
  top: 4px;
  position: relative;
  color: $primary-color;
}
