<header style="display: flex; justify-content: space-between">
  <h2>{{ data }} Level</h2>

  <mat-icon style="cursor: pointer" color="primary" (click)="close()"
    >close</mat-icon
  >
</header>

<div class="unregistered-notice" *ngIf="tableSource.length == 0">
  <p>No course registered yet.</p>
  <img
    src="./../../../../../assets/undraw_blank_canvas_re_2hwy.svg"
    alt="blank data"
    style="width: 20%; margin-top: 3%"
  />
</div>

<table mat-table *ngIf="tableSource.length >= 1" [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef>Code</th>
    <td mat-cell *matCellDef="let element">{{ element.code }}</td>
  </ng-container>

  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef>Credit Unit</th>
    <td
      style="text-align: right; padding-right: 50px"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.unit }}
    </td>
  </ng-container>

  <ng-container matColumnDef="lecturer">
    <th mat-header-cell *matHeaderCellDef>Lecturer</th>
    <td mat-cell *matCellDef="let element">{{ element.lecturer }}</td>
  </ng-container>
  <ng-container matColumnDef="students">
    <th mat-header-cell *matHeaderCellDef>No of Students</th>
    <td
      style="text-align: right; padding-right: 65px"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.students }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    style="font-size: 8px"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
